{% extends 'base.html' %}

{% block content %}
    <h2>Centro notifiche</h2>

    {% if ristoranti_disponibili %}
        <p>Ci sono posti disponibili nei seguenti ristoranti:</p>
        <ul>
            {% for ristorante in ristoranti_disponibili %}
                <li>
                    {{ ristorante.ristorante.nome }} il {{ ristorante.data }} alle {{ ristorante.ora }} 
                    per {{ ristorante.numero_persone }} persone. 
                    <a href="{% url 'elimina_lista_attesa' ristorante.lista_attesa_pk %}" class="btn btn-primary">Elimina notifica</a>
                </li>
                <br>
            {% endfor %}
        </ul>
    {% else %}
        <p>Al momento, non ci sono posti disponibili nei ristoranti della tua lista d'attesa.</p>
    {% endif %}

    <a href="{% url 'home' %}" class="btn btn-primary">Indietro</a>

{% endblock %}
