
{% extends 'base.html' %}

{%block content%}

<div class="row">
    
    <div class="col-md-4 text-break">
        <h1>{{ ristorante.nome }}</h1>
        {% if ristorante.immagine %}
            <br>
            <img src="{{ ristorante.immagine.url }}" alt="immagine ristorante" width="40%">
            <br><br>
        {% endif %}
        <p><strong>Descrizione:</strong> {{ ristorante.descrizione }}</p>
        <p><strong>Luogo:</strong> {{ ristorante.luogo }}</p>
        <p><strong>Fascia di prezzo:</strong> {{ ristorante.fascia_prezzo }}</p>
        <p><strong>Telefono:</strong> {{ ristorante.telefono }}</p>
        <p><strong>Valutazione:</strong> {{ ristorante.valutazione_vera }}</p>
        <p><strong>Specialità:</strong>
            {% if ristorante.carne %}Carne{% endif %}
            {% if ristorante.pesce %}Pesce{% endif %}
            {% if ristorante.pizza %}Pizza{% endif %}
            {% if ristorante.vegan %}Vegan{% endif %}
            {% if ristorante.sushi %}Sushi{% endif %}
        </p>

            <br>
            <form method="post" action="{% url 'recensioniristorante' pk %}">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-primary">Cerca</button>
                <a href="{% url 'recensioniristorante' pk %}" class="btn btn-primary">Reset</a>
            </form>

        <br>
        <p><a href="{% url 'prenota_ristorante' pk %}" class="btn btn-primary">Indietro</a></p>
        </div>


    <div class="col-md-8">       
        {% if recensioni %}
            <h2>Recensioni:</h2><br>
            <div class="row">
                {% for recensione in recensioni %}
                <div class="col-md-4 mb-5">

                    <div class="card" style="width: 18rem;">

                        <div class="card-body">
                          <h5 class="card-title">{{recensione.titolo}}</h5>
                          <p class="card-text">{{recensione.descrizione}}</p>
                          <p class="card-text">{{recensione.valutazione}}</p>
            
                        </div>
                    </div>
                    
                </div>
                {% endfor %}
            </div>
{% else %}
    <p>Nessuna recensione disponibile.</p>
{% endif %}
    </div>
</div>

{% endblock %}







